<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>stilus internal</title>

    <style>
        body {
            background:transparent;
            font-size:10pt;
            font-family:calibri
        }
        
    </style>
</head>
<body>

</body>
</html>